version: "3.3"
services:
  ecollectapis:
    image: migutak/ecollect_apis:1.0.0
    container_name: ecollectapis
    restart: always
    environment:
      - DB_HOST=192.168.0.30
      - DB_PORT=1521
      - DB_USER=ecol
      - DB_PASSWORD=ecol
      - DB_DATABASE=ORCLCDB.localdomain
    ports:
      - "8000:8000"
